<h3>Instructions</h3>
<p class="justified">Enter the names and emails of those playing into the boxes below. Click the &times; to remove a row, and the &plus; to add another row. Once you are ready to assign Secret Santas, click the Go button. Emails will be sent to each player. Each email will tell the person who they have been assigned. If players do not receive the email, please instruct them to check their spam folder.</p>
<form method="POST" name="input-form" onsubmit="return checkInputs();">
    <div id="form-main"></div>
    <div class="form-group">
        <button type="button" class="btn btn-light" onclick="addRow();">&plus;</button>
    </div>
    <div class="form-group">
        <h4>Custom email</h4>
        <p class="justified">Below, you see how the emails will look when they are sent to each person. You may add a custom message in the text box.</p>
        <div class="card">
            <div class="card-header">
                <p>Hello, Alice!</p>
                <p>
                    <textarea class="form-control" name="main-email-body" rows="3" placeholder="Type your message here...">{{defaultEmailBody}}</textarea>
                </p>
                <p>You have been assigned: Bob</p>
            </div>
        </div>
    </div>
    <div id="form-message"></div>
    <button type="submit" class="btn btn-primary btn-block">Go</button>
</form>
