header {
    color: white;
    background-color: #005fff;
    padding: 16px;
    text-align: center;
}

main {
    margin: 0 auto;
    padding: 16px;
    max-width: 800px;
}

.centered-text {
    text-align: center;
}

.justified {
    text-align: justify;
}

.err-info {
	padding: 16px 32px;
}

.err-info .err-header {
	font-size: 1.5rem;
	font-weight: 500;
}

.err-info code {
	color: red;
	font-weight: 600;
}
