header {
    color: white;
    background-color: #005fff;
    padding: 16px;
    text-align: center;
}

main {
    margin: 0 auto;
    padding: 16px;
    max-width: 800px;
}

.centered-text {
    text-align: center;
}

.justified {
    text-align: justify;
}
