<!DOCTYPE html>
<html>
    <head>
        {{#if title}}
            <title>{{title}} - Secret Santa</title>
        {{else}}
            <title>Secret Santa</title>
        {{/if}}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="/main.css" />
        {{#each js}}
            <script type="text/javascript" src="/{{this}}.js"></script>
        {{/each}}
    </head>
    <body>
        <header>
            <h1>Secret Santa</h1>
        </header>
        <main>
            {{{body}}}
        </main>
    </body>
</html>
